// colors

$primary-green: #70C174;
$secondary-green: #BEF3C0;
$third-green:#EFF7F2;
$black:#0B0706;
$primary-text:#1D2130;
$secondary-text:#525560;
$off-white:#EBF0F9;
$border:#E5E5E5;
$white:#ffffff;


// font size

$home-heading:64px;
$heading1:56px;
$heading2:48px;
$heading3:28px;
$heading4:20px;
$heading5:14px;
$heading6:12px;


// mixins

@mixin text-line($position: left, $margin: 96px, $distance: -96px){
    position: relative;
    text-transform: uppercase;
    margin-left: $margin;
    &::before{
        content: '';
        position: absolute;
        top: 50%;
        #{$position}: $distance;
        height: 2px;
        width: 72px;
        background-color: $primary-text;
        transform: translateY(-50%);
    }
}

@mixin square($color){
    position: absolute;
                content: '';
                width: 16px;
                height: 16px;
                background-color: $color;
                left: -24px;
                border-radius: 4px;
                top: 50%;
                transform: translateY(-50%);
}
